1tui/.config/tmux/plugins
2gui-hypr/gtk-3.0/bookmarks
2gui-hypr/hypr/configs/GPU.conf
2gui-hypr/hypr/configs/Monitors.conf
2gui-hypr/waybar/config
2gui-hypr/waybar/style.css
fcitx5/conf/cached_layouts
2gui-hypr/hypr/initial_startup_done
2gui-hypr/.config/hypr/.initial_startup_done
1tui/.config/lazygit/state.yml
