1tui/config/tmux/plugins
1tui/config/lazygit/state.yml
1tui/config/fish/fish_variables
2gui-hypr/config/gtk-3.0/bookmarks
2gui-hypr/config/hypr/.initial_startup_done
2gui-hypr/config/hypr/configs/GPU.conf
2gui-hypr/config/hypr/configs/Monitors.conf
2gui-hypr/config/waybar/config
2gui-hypr/config/waybar/style.css
2gui-hypr/config/rofi/.current_wallpaper
2gui-hypr/config/rofi/.current_wallpaper-bak
2gui-hypr/config/hypr/configs/LaptopDisplay.conf
2gui-hypr/configr/fcitx5/conf/cached_layouts
*.log
[Bb]ackup
1tui/config/fish/extra_login.fish
2gui-hypr/config/fcitx5/conf/cached_layouts
1tui/config/fish/fishd.tmp.*
1tui/config/kew/kewlibrary
2gui-hypr/config/kitty/kitty.conf.bak
2gui-hypr/config/kitty/current-theme.conf
2gui-hypr/config/hypr/configs/Shader.conf
2gui-hypr/config/qutebrowser/__pycache__
2gui-hypr/config/qutebrowser/bookmarks
2gui-hypr/config/qutebrowser/qsettings
2gui-hypr/config/qutebrowser/quickmarks
2gui-hypr/config/qutebrowser/autoconfig.yml
pcmds/lib/term.sh
pcmds/lib/current_theme.sh
2gui-hypr/config/Kvantum/kvantum.kvconfig
didm.schema.json
didm_backup
