1tui/tmux/plugins
1tui/lazygit/state.yml
1tui/fish/fish_variables
2gui-hypr/gtk-3.0/bookmarks
2gui-hypr/hypr/.initial_startup_done
2gui-hypr/hypr/configs/GPU.conf
2gui-hypr/hypr/configs/Monitors.conf
2gui-hypr/waybar/config
2gui-hypr/waybar/style.css
2gui-hypr/rofi/.current_wallpaper
2gui-hypr/cava/shaders
2gui-hypr/cava
2gui-hypr/rofi/.current_wallpaper
2gui-hypr/fcitx5/conf/cached_layouts
2gui-hypr/rofi/.current_wallpaper-bak
