[Desktop Entry]
Version=1.0
Type=Application
Name=flkt3lg
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=kitty
Exec=kitty
Icon=gameboy
Categories=System;TerminalEmulator;
